@font-face {
    font-family: 'Alhambra';
    src: url('Alhambra.woff2') format('woff2'),
        url('Alhambra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

