@import "fonts";
@import "colors";

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg,	rgb(var(--accent)),	rgb(var(--accent-light)) 30%,	white 60%);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: $bg;
  color: $fg;
  font-family: $font-family-base;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-family: $font-family-alhambra;
}

p.lead {
  margin-bottom: 2rem;
  // border: 1px solid rgba(var(--accent-light), 25%);
  // background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
  background-color: $brown-light;
  padding: 1.5rem;
  border-radius: 8px;
}