---
import Layout from '@/layouts/base.astro';
import Grid from '@/components/grid.astro';
---

<Layout>
  <main>
    <div class="logo">
      <img class="responsive" src="/images/logo.svg" alt="Tenda Gaming">
    </div>

    <p class="lead">
      Seja bem vindo(a) ao <strong>Tenda Gaming</strong>.
    </p>

    <Grid />
  </main>
</Layout>

<style>
  .logo {
    text-align: center;
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  h1 {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
</style>
